body{
    font-family: $OpenSans
}
h1{
    @include fontSize(36px);
}

a{
    color: $colorWhite;
    &:hover{
        color: $colorBlack;
        background-color: none;
    }
}

.btn{
    background-color: $colorOrange;
    border: none;
    color: $colorWhite;
}




