.navbar{
    color: $colorWhite;
    background-color: $colorBlue;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    &-brand{
        color: $colorWhite!important;
        @include fontSize(36px);
    }
    &-nav{
        li{
            a{
                color: $colorLightBlue;
                padding: 0;
                margin-top: 15px;
                margin-bottom: 15px;
                padding-left:5px;
                padding-right: 5px;
                @include fontSize(20px);
                &:hover{
                    color: $colorHover;
                    background-color: transparent;
                }
            }
            .active-tag{
                color: $colorWhite;
                font-weight: bold;
            }
        }
    }
    &-border-right{
            border-right: 1px solid $colorWhite;
    }
}