.page-width{
    width: $pageWidth;
    margin: auto;
}
.carousel{
    &-img{
        height: 40em;
        width: 100%;


    }
    &-inner{

    }
    &-indicators{
        li{
            height: 5px;
            width: 30px;            
            border: none;
            border-radius: 0;
            background-color: rgba($color: #ffffff, $alpha: .5);
        }
        .active{
            height: 5px;
            width: 30px;
            margin: 1px;
        }
    }
}

.container{
    &-form{
        margin: auto;
        width: 60%;
    }
}

label{
    font-weight: 500;
}

.justsomepadding{
    padding-bottom: $justsomepadding;
}

.thumbnail{
    padding: 0;
    border: none;
    &-packages{
            border: 1px solid $colorOrange;
            border-radius: 0;
            &:hover{
                background-color: #fdf6ec;
            }
        }
    }
 .caption{
    padding: 0;
    }
