$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorBlue: #3c54a0;
$colorOrange: #ff9000;
$colorLightBlue: #b8c1e1;
$colorHover: #fdf6ec;
$colorLightGrey: #ececec;


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

//Font Variables
$OpenSans: "Open Sans";